.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1;
}

/* .footer {
  padding: 200px 0px 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
} */
