.pageWrapper {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  margin-bottom: 100px;
}

.container {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
