.container {
  display: grid;
  max-width: 60%;
  grid-template-columns: 1fr 1.7fr;
  margin: 0 auto;
  margin-bottom: 30px;
}

.poster {
  border-radius: 20px;
  max-width: 70%;
  place-self: center;
}

.title1 {
  max-width: 80%;
  margin: auto;
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 600;
}

.sub_title {
  max-width: 80%;
  margin: auto;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(222, 222, 222);
}
qkrwl .title2 {
  color: black;
  font-size: 36px;
  font-weight: 600;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 25px;
  border-radius: 20px;
  border: 1px solid rgb(222, 222, 222);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: auto;
}

.info h1 {
  font-size: 18px;
  font-weight: 600;
}

.info p {
  line-height: 1.6;
}

.styled_button {
  background-color: white;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  padding: 8px 12px;
  margin-right: 10px;
  font-size: 15px;
}

.styled_button a {
  text-decoration: none;
}

.styled_button:hover {
  background-color: rgb(225, 225, 225);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: red;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 48%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
