.nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  top: 0;
  padding: 40px 0px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  background-color: white;
  display: inline-block;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.nav ul span {
  margin-right: 59vw;
  font-weight: 800;
}

.nav ul li {
  list-style: none;
  transform: none;
  text-decoration: none;
}
